@inherits LayoutComponentBase
<RadzenDialog/>
<RadzenNotification/>
<RadzenContextMenu/>
<RadzenTooltip/>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4 div-auth">
            <span class="text-white"><span class="oi oi-person" aria-hidden="true"></span>@Client.CurrentUser.Firstname @Client.CurrentUser.Lastname</span>
            <NavLink class="btn-auth" href="Logout">
                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
            </NavLink>
        </div>

        <div id="body" class="content px-4">
            @Body
        </div>
        <footer>
            <p>
                Made with <span class="oi oi-heart text-danger" aria-hidden="true"></span>
                during all the <span class="oi oi-moon text-yellow" aria-hidden="true"></span>
                by Danz, Fridez & Mendes Reis
            </p>
            <p>
                Zest.Net v@(Assembly.GetExecutingAssembly().GetName().Version.ToString())
            </p>
        </footer>
    </div>
</div>
