<div class="row-fluid">
    <div class="col-12">
        <div class="row">
            <div class="col-12">
                <h1>@(String.IsNullOrEmpty(resource.id)? "Create resource" : "Update resource")</h1>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" value="@(resource.name ?? "")" required name="name" class="form-control" id="name" placeholder="enter your name">
                            </div>

                            <div class="form-group mb-4">
                                <label for="picture">Picture</label>
                                @if (resource.picture != null)
                                    {
                                     <img src="@resource.picture" max-width="100"/>
                                    }
                                <input type="file" class="form-control-file" id="picture">
                            </div>

                            <div class="form-group">
                                <label for="description">Description</label>
                                <textarea class="form-control" name="description" required id="description" placeholder="Enter a description">
                                   @(resource.description ?? "") 
                                </textarea>
                            </div>

                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <h4>Date start</h4> <RadzenDatePicker TValue="DateTime?" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) DateFormat="dd/MM/yyyy" />
                                </div>
                                <div class="col-md-6 col-12">
                                    <h4>Date end</h4> <RadzenDatePicker TValue="DateTime?" Change=@(args => OnChange(args, "DatePicker", "MM/dd/yyyy")) DateFormat="dd/MM/yyyy" />
                                </div>
                            </div>

                            <button type="submit" class="btn btn-outline-success mt-3">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code { DateTime? value = DateTime.Now;

    private Resource resource = new Resource();

    void OnChange(DateTime? value, string name, string format)
    {
        Console.WriteLine($"{name} value changed to {value?.ToString(format)}");
    }

    public class Resource
    {
        public Resource()
        {

        }
        public Resource(string id, string name, string descr, string pic)
        {
            this.id = id;
            this.name = name;
            this.description = descr;
            this.picture = pic;
        }

        public string id { set; get; }
        public String name { set; get; }
        public String description { set; get; }
        public String picture { set; get; }
    }

}