@page "/"
@attribute [Authorize]

<h1>Zest.NET</h1>

Welcome to Zest.NET Blazor WebAssembly application. This is a work in progress.

<SurveyPrompt Title="Work in progres... Please come back in a few days to see the magic !" />
