@page "/Logout"
@layout Zest.Net.Front.Shared.UnloggedLayout

<h1 class="h3 mb-3 font-weight-normal">Logged out</h1>

<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-check mr-2" aria-hidden="true"></span>
    <strong>You have been correctly logged out !</strong>
    <span class="text-nowrap"></span>
</div>

<NavLink href="Login" class="mt-1 d-block">
    Go to login page
</NavLink>
